[Unit]
Description=MagicMirror EInk
After=network.target

[Service]
Type=oneshot
User=tkanell
Group=tkanell
WorkingDirectory=/home/tkanell/repos/MagicMirrorE-Ink
ExecStart=/home/tkanell/repos/MagicMirrorE-Ink/run.sh
Environment=PATH=/home/tkanell/repos/MagicMirrorE-Ink/.venv/bin:/usr/local/bin:/usr/bin:/bin
TimeoutSec=600
TimeoutStopSec=30